body {
    margin: 0;
    display: grid;
    grid: 100vh / 100vw;
}
.grid {
    display: grid;
    grid: repeat(40, 30px) / repeat(40, 150px);
    overflow: scroll;
}
.cell {
    border: 1px solid oklch(0.93 0 0);
    margin: 0 0 -1px -1px;
    position: relative;
    resize: none;
}
/* .cell:not([data-type=empty])::after {
    content: " ";
    position: absolute; bottom: 0; left: 0; right: 0;
    height: 0.1em;
} */
/* .cell[data-type="constant"] {}
.cell[data-type="atom"] {}
.cell[data-type="list"] {}
.cell[data-type="table"] {}
.cell[data-type="parented"] {} */
/* .cell[data-type="constant"]::after { background-color: oklch(70% 0.3 0); } */
/* .cell[data-type="atom"]::after { background-color: oklch(70% 0.3 72); } */
/* .cell[data-type="list"]::after { background-color: oklch(70% 0.3 144); }
.cell[data-type="table"]::after { background-color: oklch(70% 0.3 216); } */

textarea.cell { padding: 0.2em; }
div.cell { display: grid; grid: 100% / 1fr auto; }
div.cell .code, div.cell .display { padding: 0.2em; overflow: hidden; text-overflow: ellipsis; text-wrap: nowrap; }
div.cell .code { opacity: 0.8; }
div.cell .code + .display { background-color: oklch(70% 0.1 206 / 0.1); }
