body {
    margin: 0;
    display: grid;
    grid: 100vh / 100vw;
}
.grid {
    display: grid;
    grid: repeat(40, 30px) / repeat(40, 150px);
    overflow: scroll;
}
.cell {
    border: 1px solid oklch(0.93 0 0);
    margin: 0 0 -1px -1px;
    position: relative;
    resize: none;
}
.cell[data-populated=true][data-computed=false]::after {
    content: " ";
    background-color: oklch(70% 0.1 206);
    /* position: absolute; top: 4px; right: 4px; */
    position: absolute; bottom: 0; left: 0; right: 0;
    /* width: 0.5em; height: 0.5em; */
    height: 0.1em;
    /* border-radius: 0.5em; */
}
textarea.cell { padding: 0.2em; }
div.cell { display: grid; grid: 100% / 1fr auto; }
div.cell .code, div.cell .display { padding: 0.2em; }
div.cell .code + .display { background-color: oklch(70% 0.1 206 / 0.1); }
